* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, sans-serif;
    font-size:17px;

}
header {
    margin: 0 auto;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:2em 0;
}
.navitems {
    display: flex;
    gap:20px;
    align-items: center;
}

.navlink {
    text-decoration: none;
    color:black;
}

.hello-btn {
	font-size:1.25rem;
	background-color:#fff0;
	border:3px solid #068FFF;
	color:#068FFF;
	padding:0.4rem 1rem;
	border-radius:50px;
}

.hello-btn:hover {
	background-color:#068FFF;
	color:white;
	border-radius:5px;
	transition:all 2s;
}

.container {
    padding-top:2em;
    max-width:100%;
    margin:0 auto;
}
.intro {

    text-align:center;
}
.intro h1 {
    font-size:3em;
    text-align:center;
}
.intro p {
    padding-top:1em;
    font-size:1.5em;
    text-align:center
}

#tyrel {
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 50%;
}

.hero-container {
	max-width:1000px;
	margin:auto;
}
.hero {
    padding:1rem;
}
.screen {
position: relative;
border:1px solid black;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background-color:#f7f7f7;
height:350px;
}

.bar {
height:30px;
width: 100%;
position: relative;
background-color:#292929;
border-top-left-radius:5px;
border-top-right-radius:5px;
top:0;
z-index: 0;
}

.btn {
height:15px;
width: 15px;
background-color:green;
position: relative;
z-index: 1;
display:inline-block;
border:none;
border-radius:50px;
top:5px;
left:15px;
}

.screen-bar {
position: relative;
list-style-type:none;
display:flex;
gap:10px;
border-bottom:1px solid black;
padding:2px 0;
}

.screen-bar li {
position: relative;
left:3px;
}

.about-container {
	background-color:#068FFF;
}

.about-info {
	padding:2rem 1.25rem 15rem 1.25rem;
	margin:auto;
	margin-top:6rem;
	text-align:center;
	color:white;
}
.about-info h1{
	padding-bottom:2rem;
	font-size:1.5rem;
}

.about-info p{
	font-size:1.25rem;
}

.skills-container {
	display:flex;
	justify-content: center;
	width:100%;
    gap:1.5em;
}
.skills {
	position:relative;
	top:-7rem;
	z-index:1;
	width:400px;
	border:1px solid #f2f2f2;
	border-radius:10px;
	padding:3em;
	background-color:white;
	text-align:center;
}

.skill-mhead{
	padding-bottom:1.25rem;
}
.skills section ul {
	list-style-type:none;
}

.skills section ul li {
	padding:.7rem 0;
}

.skill-head {
	padding-bottom:2rem;
	text-align:center;
}

.skill-info {
	padding-bottom:3rem;
	text-align:center;
}

footer {
	display:flex;
	justify-content: center;
	align-items: center;
	padding:5rem 0;
	background-color:#068FFF;
}

footer ul {
	padding-bottom:3rem;
	display:flex;
	justify-content: space-around;
	list-style-type:none;
}

footer ul li a {
	text-decoration: none;
	color:white;
}

@media only screen and (max-width: 700px){
    .skills-container{
        flex-direction:column;
        align-items: center;
    }
}